.login{
background-color: white;
    box-shadow: 0 0 10px #777;
    border: 1px solid #e8e8e8;
    filter: drop-shadow(2px 4px 6px black);
    height: 316px;
}

#login_form{
    width: 320px;
    left: 180px;
    position: absolute;
}

.login-box{

    position: absolute;
}

body{
    background: url("../img/photo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}